---
---


body {
  background: #fafafa;
  color: #5c5855;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #149ad4;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h5 {
  color: #444;
  font-family: Chivo, "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 900;
  line-height: 1.1;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

.license h1 {
  max-width: 700px;
}

h2 {
  opacity: 0.8;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h5 {
  font-size: 14px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 1em;
}

ol, ul { padding: 0; margin: 0; list-style-type: none; }

th, td { text-align: left; font-weight: normal; }

strong {
  color: #444;
}

.container {
  margin: 40px auto;
  width: 940px;
}

.home {
  text-align: center;
}

.home h1 {
  font-size: 60px;
}

.home h2 {
  color: #149ad4;
  font-size: 27px;
  line-height: 70px;
  margin-bottom: 45px;
  vertical-align: middle;
  opacity: 1;
}

.home h2 span {
  color: #f1f1f1;
  font-size: 70px;
  padding: 0 5px;
  position: relative;
  top: 10px;
}

.triptych {
  width: 900px;
  margin: 0 auto 20px;
}

.triptych li {
  width: 280px;
  float: left;
  margin-left: 27px;
}

.triptych li:first-child {
  margin-left: 0;
}

.triptych li > a {
  text-decoration: none;
}

.triptych h3 {
  font-size: 22px;
  margin: 0 auto 20px auto;
  width: 220px;
}

.situations .whatever {
  margin-top: 16px;
}

.situations .copyleft {
  margin-top: 3px;
}

.situations .button {
  margin-top: 20px;
}

.triptych-sprite {
  background-image: url(assets/img/how.png);
  background-repeat: no-repeat;
  display: inline-block;
}


.license-family {
  clear: both;
  margin-bottom: 50px;
}

.license-family-heading {
  float: left;
  width: 35%;
}

.license-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 55%;
  padding-left: 20px;
}

.license-variations {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 31px;
  padding-top: 23px;
  margin-left: -10px;
}

.license-family-name {
  font-size: 28px;
}

.license-family-description {
  color: #555;
}

.license-rules {
  border-bottom: solid 1px #ddd;
  font-size: 13px;
  line-height: 1.3;
  margin-bottom: 12px;
  width: 100%;
}

.license-rules th,
.license-rules td {
  width: 33%;
}

.license-rules th {
  font-size: 15px;
  padding: 5px 10px 5px 0;
  vertical-align: bottom;
}

.license-rules th.summary {
  line-height: 1.4;
}

.license-rules .name {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-right: solid 1px #ddd;
  padding-left: 0;
  width: 280px;
}

.license-rules .name a {
  font-size: 28px;
}

.license-rules .name small a {
  font-size: 16px;
}

.license-rules td {
  padding: 4px 0 12px 0;
  vertical-align: top;
}

.license-rules .label {
  font-weight: bold;
}

.license-rules li {
  margin-right: 15px;
  margin-bottom: 5px;
}

.license-rules li:hover {
  color: #444;
}

.license-sprite {
  background-image: url(../img/license-sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sidebar .source span   { background-position: 0 0;     width: 16px; height: 12px; }
.license-limitations span { background-position: -16px 0; width: 12px; height: 12px; }
.license-permissions span { background-position: -28px 0; width: 12px; height: 12px; }
.license-conditions span  { background-position: -40px 0; width: 12px; height: 12px; }

.license-rules-sidebar li {
  float: none;
  padding-bottom: 3px;
}

.license-body {
  font-size: 15px;
  float: left;
  width: 700px;
}

.license-body pre {
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}

.sidebar {
  float: right;
  width: 220px;
  font-size: 12px;
}

.sidebar a.button {
  margin-top: -110px;
  width: 100%;
}

.sidebar .how-to-apply {
  font-size: 12px;
  margin-top: -15px;
}

.sidebar .how-to-apply p {
  line-height: 1.5;
}

.sidebar .how-to-apply p:last-child {
  margin-bottom: 0;
}

.sidebar .note {
  font-style: italic;
}

.sidebar .source {
  margin-top: 4px;
  margin-bottom: 30px;
}

.sidebar .boilerplate {
  font: 0.7em "Courier new", courier;
}

.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #ccc #bbb #aaa #bbb;
  border-style: solid;
  border-width: 1px;
  color: #444;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px, rgba(255, 255, 255, 0.8) 0 1px 0 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px, rgba(255, 255, 255, 0.8) 0 1px 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px, rgba(255, 255, 255, 0.8) 0 1px 0 0 inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eee), color-stop(100%, #ddd));
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding: 5px 10px;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  text-decoration: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eee), color-stop(100%, #ccc));
  background-image: -webkit-linear-gradient(#eee, #ccc);
  background-image: -moz-linear-gradient(#eee, #ccc);
  background-image: -o-linear-gradient(#eee, #ccc);
  background-image: linear-gradient(#eee, #ccc);
}

.projects-with-license li {
  padding-bottom: 3px;
}

.site-footer {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding-top: 20px;
  color: #555;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
}

.site-footer a {
  color: #444;
  font-weight: normal;
}

.site-footer p {
  float: left;
  margin-top: 0;
}

.site-footer nav {
  float: right;
}

.site-footer nav a {
  display: inline-block;
  margin-left: 20px;
}

.bullets {
  list-style-type: disc;
}

.bullets > li {
  margin-left: 2em;
}

.nav-pills > li {
  float: left;
  display: block;
  margin-right: 10px;
}

.nav-pills > li > a {
  padding: 5px 10px;
  border-radius: 3px;
}

.nav-pills > li.active > a {
  background-color: #149ad4;
  color: #f7f4ef;
}

.variation-tab {
  display: none;
}

.variation-tab.active {
  display: block;
}

.small {
  font-size: 90%;
}


/* Qtip styles */

.qtip-conditions,
.qtip-permissions,
.qtip-limitations {
  font-size: 12px;
  line-height: 1.3;
}

.qtip-conditions {
  background-color: #d0ebf6;
  border-color: #149ad4;
  color: #0d648a;
}

.qtip-conditions .qtip-titlebar {
  background-color: #149ad4;
  color: #fff;
}

.qtip-permissions {
  background-color: #d8f4d7;
  border-color: #3dc637;
  color: #298625;
}

.qtip-permitted .qtip-titlebar {
  background-color: #3dc637;
  color: #fff;
}

.qtip-limitations {
  background-color: #f4d9d8;
  border-color: #c6403d;
  color: #812a28;
}

.qtip-limitations .qtip-titlebar {
  background-color: #c6403d;
  color: #fff;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.with-love { float: right; clear: right; }

@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
 only screen and (min--moz-device-pixel-ratio: 2.0),
 only screen and (-o-min-device-pixel-ratio: 200/100),
 only screen and (min-device-pixel-ratio: 2.0) {
  .three-arrows,
  .lightbulb,
  .circular {
    background-image: url(../img/home-sprite@2x.png);
    -webkit-background-size: 72px 198px;
    -moz-background-size: 72px 198px;
    background-size: 72px 198px;
  }

  .license-sprite {
    background-image: url(../img/license-sprite@2x.png);
    -webkit-background-size: 52px 12px;
    -moz-background-size: 52px 12px;
    background-size: 52px 12px;
  }

}

.highlight  { background: #dddddd; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

{% include css/responsive.css %}
#toc .toc-h2 {
    padding-left: 8px;
    padding-top: 8px;
}

#toc .toc-h3 {
    padding-left: 16px;
}

.home{
    padding: 8px;
}

.passicon {
  float:left;
  margin-right: 16px;
  height: 72px
}
